<nav class="navbar navbar-expand-sm">
  <div class="container-fluid mx-4 nav-container justify-content-around">
    <a class="navbar-brand" routerLink="/home"
      ><img src="../../../../assets/icons/darklogo.svg" alt="AlifAyah logo"
    /></a>
    <button
      class="navbar-toggler d-lg-none"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapsibleNavId"
      aria-controls="collapsibleNavId"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active-link" routerLink="home"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active-link" routerLink="teachers"
          >Teacher</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active-link" routerLink="courses"
          >Courses</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active-link" routerLink="blog"
          >Blog</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active-link" routerLink="about"
          >About us</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active-link" routerLink="contact"
          >Contact us</a
        >
      </li>
    </ul>
    <div class="controls">
      <button class="transparent-btn">Teach at alef aya</button>
      <button class="primary-btn">Log In</button>
    </div>
    <div class="language">
      <button class="transparent-btn fw-bolder fs-4">عربي</button>
    </div>
  </div>
</nav>
