<section class="gradient-background py-5 footer">
  <div class="container-fluid">
    <div class="row w-100 g-3 justify-content-around">
      <div class="col-md-3">
        <div
          class="logo-social d-flex align-items-center justify-content-center flex-column gap-5"
        >
          <img
            class="logo"
            src="../../../../assets/icons/logo.svg"
            alt="logo"
          />
          <div class="social d-flex gap-2">
            <span
              ><img src="../../../../assets/icons/snapchatSocial.svg" alt=""
            /></span>
            <span
              ><img src="../../../../assets/icons/instagramSocial.svg" alt=""
            /></span>
            <span
              ><img src="../../../../assets/icons/facebookSocail.svg" alt=""
            /></span>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="quick-access">
          <h2 class="mb-4">Easy Access</h2>
          <div class="links d-flex flex-column">
            <a>Home</a>
            <a>About us</a>
            <a>Clinics</a>
            <a>Doctors</a>
            <a>Offers</a>
            <a>Blog</a>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="blogs">
          <h2 class="mb-4">Blogs</h2>
          <div class="links d-flex flex-column">
            <a>Home</a>
            <a>About us</a>
            <a>Clinics</a>
            <a>Doctors</a>
            <a>Offers</a>
            <a>Blog</a>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="contact">
          <h2 class="mb-4">Contact us</h2>
          <div class="links d-flex flex-column">
            <a class="fw-light"
              ><img
                src="../../../../assets/icons/outlinedFacebook.svg"
                alt="facebook logo"
              />
              Facebook</a
            >

            <a class="fw-light"
              ><img
                src="../../../../assets/icons/outlinedInsta.svg"
                alt="instagram logo"
              />
              Instagram</a
            >

            <a class="fw-light"
              ><img
                src="../../../../assets/icons/outlinedSnapchat.svg"
                alt="snapchat logo"
              />
              Snapchat</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
